@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* buttons on public pages */

.mButton {
   	-webkit-border-radius: 20px;	
   	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-appearance: none;
   	height: 0px;
   	line-height: 0px;
   	color: #FFFFFF;
   	font-family: Arial;
   	width: 120px;
   	font-size: 14px;
   	font-weight: 100;
   	padding: 14px;
   	background-color: #244E8E;  
   	text-decoration: none;
   	display: inline-block;
   	cursor: pointer;
   	outline: none;
   	border: solid #999999 1px;    
   	text-align: center;	
}

.mButton:hover {
   	background: #FF9900;
   	text-decoration: none;
}

.wButton {
   	-webkit-border-radius: 20px;
   	-moz-border-radius: 20px;
   	border-radius: 20px;
	-webkit-appearance: none;
   	height: 0px;
   	line-height: 0px;
   	color: #FFFFFF;
   	font-family: Arial;
   	width: 160px;
   	font-size: 14px;
   	font-weight: 100;
   	padding: 14px;
   	background-color: #244E8E;    
   	text-decoration: none;
   	display: inline-block;
   	cursor: pointer;
   	outline: none;
   	border: solid #999999 1px;
   	text-align: center;
}

.wButton:hover {
   	background: #FF9900;
   	text-decoration: none;
}

.sButton {
   	-webkit-border-radius: 20px;
   	-moz-border-radius: 20px;
   	border-radius: 20px;
	-webkit-appearance: none;
   	height: 0px;
   	line-height: 0px;
   	color: #FFFFFF;
   	font-family: Arial;
   	width: 100px;
   	font-size: 14px;
   	font-weight: 100;
   	padding: 11px;
   	background-color: #244E8E;  
   	text-decoration: none;
   	display: inline-block;
   	cursor: pointer;
   	outline: none;
   	border: solid #999999 1px;
   	text-align: center;
}

.sButton:hover {
   	background: #FF9900;
   	text-decoration: none;
}
