@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {  
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px; 
	margin-left: 0px; 
	background-color: #FFFFFF; 
	padding-top: 0px; 
	padding-right: 0px; 
	padding-bottom: 0px; 
	padding-left: 0px; 
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 0px; 
	border-left-width: 0px
}
p {  
	font-family: Open Sans, sans-serif; 
	font-size: 14px; 
	font-weight: 400; 
	color: #6B6B6B;
	padding: 3px;
}
a {  
	font-family: Open Sans, sans-serif; 
	font-size: 14px; 
	color: #244E8E; 
	text-decoration: none; 
	font-weight: 400; 	
}
a:hover {  
	color: #FF9900; 
	text-decoration: underline;
}
th {  
	font-family: Open Sans, sans-serif; 
	font-size: 14px; 
	color: #6B6B6B; 
	text-decoration: none; 
	xxxxbackground-color: #000000; 
	border-color: #CCCCCC #CCCCCC #000000 black
}

/* main page title */
.title {  	
	font-family: Roboto, sans-serif; 
	font-size: 22px; 
	font-weight: 700; 
	color: #000000
}
.subtitle {  
	font-family: Roboto, sans-serif; 
	font-size: 12px; 
	font-weight: bold; 
	color: #666666
}
.subtitlelarge {  
	font-family: Roboto, sans-serif; 
	font-size: 16px; 
	font-weight: bold; 
	color: #666666
}

/* home page widget heading */
.boxtitle {  	
	font-family: Open Sans, sans-serif;
	font-size: 14px; 
	font-weight: 700; 
	color: #666666
}

.lmlink {
	font-family: Open Sans, sans-serif;
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	color: #666666;
}
.paratext {
	font-family: Open Sans, sans-serif; 
	font-size: 14px
}
.redtext {	
	color: #FF0000;
}
.greentext {	
	color: #006600;
}
.bluetext {	
	color: #244E8E;
}
.errorfield {  
	background-color: #FF8080;
}
.lightgrey {  
	background-color: #F3F3F3;	
}
hr {
    	display: block;
    	height: 1px;
    	border: 0;
    	border-top: 1px solid #DEDEDE;
    	margin-top: 5px;
    	margin-bottom: 0;
    	padding: 0;
}
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	padding: 3px
}

/* controls the home page headline image size */
img.Image { 
	max-width: 100%; display: block; 
}
div#ImageContainer { 
	width: 360px; 
}

/* the main menu on the left-hand side */
.mainmenu {
	font-family: Open Sans, sans-serif; 
	font-size: 14px;
	text-decoration: none;
	color: #244E8E;
}

.mainmenu a:hover {
	font-family: Open Sans, sans-serif; 
	font-size: 14px;
	text-decoration: underline;
	color: #FF9900;
}
.staticmenu {  
	font-family: Open Sans, sans-serif; 
	font-size: 14px; 
	color: ##6B6B6B; 
	text-decoration: none; 
	font-weight: 400;
}

.adminlogin {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}

/* home page news date */
.newsdate {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: italic;	
	color: #000000;
}

/* player link on the match page */
.matchplayer {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #DDDDDD;
	border-right-color: #DDDDDD;
	border-bottom-color: #DDDDDD;
	border-left-color: #DDDDDD;	
}
.matchplayer a:link {  
	font-weight: normal; 
	text-decoration: none;	
}
.matchplayer a:hover {  
	font-weight: normal; 
	text-decoration: underline;
}
.matchplayerwin {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #DDDDDD;
	border-right-color: #DDDDDD;
	border-bottom-color: #DDDDDD;
	border-left-color: #DDDDDD;	
}
.matchplayerwin a:link {  
	font-weight: bold; 
	text-decoration: none;	
}
.matchplayerwin a:hover {  
	font-weight: bold; 
	text-decoration: underline;
}

.penalty {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
}
.withdrawn {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #336699; 
}
.singlebox {
	border: 1px solid #999999;
}

/* display of small image on news page */
.callout {
    font-size: 11px;
    color: #a39c8d;
    border: 1px solid #ddd;
    background: #f1f2e7;
    padding: 8px 10px;
    margin-bottom: 8px; 
}
.left { 
    float: left; 
    margin: 14px 18px 0 0; 
}
.right { 
    float: right; 
    margin: 0 0 18px 18px; 
}

/* used on news page */
.linkoverride  {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #000000; 
	text-decoration: underline; 
	font-weight: bold
}
.linkoverride a:link {  
	font-weight: normal; 
	text-decoration: underline	
}
.linkoverride a:hover {  
	font-weight: normal; 
	text-decoration: underline
}
.widget  {  
	font-family: Open Sans, sans-serif; 
	font-size: 14px; 
	color: #244E8E; 
	text-decoration: none; 
	font-weight: 400;
	line-height: 2.0; 	
}
.widget a:link {  	
	font-weight: normal; 
	text-decoration: none; 		
}
.widget a:hover {  
	color: #FF9900; 
	text-decoration: underline;
}

/* border for adverts and logos on division page */
.advertborder {
	border-width: 1px;
	border-color: #DDDDDD;
	border-style: solid;	
}

/* modifies all text input fields */
input[type=text], select, textarea {    
    	padding: 4px;
    	border: 1px solid #ccc;
    	border-radius: 4px;
    	resize: vertical;
	font-family: Roboto, sans-serif;
	font-size: 14px; 
	font-weight: normal; 
	color: #333333; 
}
input[type=password], select, textarea {    
    	padding: 4px;
    	border: 1px solid #ccc;
    	border-radius: 4px;
    	resize: vertical;
	font-family: Roboto, sans-serif;
	font-size: 14px; 
	font-weight: normal; 
	color: #333333; 
}

.menutext {
	font-family: Open, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}
